:local(.noSelectionLine) {
  list-style: none;
  padding: 15px 10px 15px 10px;
  background-color: white;
  border-bottom: 1px solid #E3E3E3;
  font-size:14px;
  display: flex;
  color:black;
}

:local(.noSelectionLine span)
{
  text-align: center;
  width:100% !important;
  color:#aaa;
}